<div class="BestsellersSlider owl-carousel owl-carousel-bestseller owl-theme">

  <div class="item BestsellersSlider__item">
    <div class="BestsellersSlider__preview" style="background-image: url('./assets/Bestsellers/Bestsellers1.png');"></div>
    <div class="BestsellersSlider__info">
      <h1 class="BestsellersSlider__info-title">Very Calming</h1>
      <h3 class="BestsellersSlider__info-subtitle">with chamomile & Rose petals</h3>
      <span class="BestsellersSlider__info-reviews">89 Reviews</span>
      <span class="BestsellersSlider__info-price">From $25</span>

      @@include('./Button.html', {
        text: 'View this product',
        type: 'orange'
      })
    </div>
  </div>
  <div class="item BestsellersSlider__item">
    <div class="BestsellersSlider__preview" style="background-image: url('./assets/discount/img3.png');"></div>
    <div class="BestsellersSlider__info">
      <h1 class="BestsellersSlider__info-title">Very Calming2</h1>
      <h3 class="BestsellersSlider__info-subtitle">with chamomile & Rose petals2</h3>
      <span class="BestsellersSlider__info-reviews">819 Reviews</span>
      <span class="BestsellersSlider__info-price">From $215</span>

      @@include('./Button.html', {
        text: 'View this product',
        type: 'orange'
      })
    </div>
  </div>
  <div class="item BestsellersSlider__item">
    <div class="BestsellersSlider__preview" style="background-image: url('./assets/discount/img3.png');"></div>
    <div class="BestsellersSlider__info">
      <h1 class="BestsellersSlider__info-title">Very Calming2</h1>
      <h3 class="BestsellersSlider__info-subtitle">with chamomile & Rose petals2</h3>
      <span class="BestsellersSlider__info-reviews">819 Reviews</span>
      <span class="BestsellersSlider__info-price">From $215</span>

      @@include('./Button.html', {
        text: 'View this product',
        type: 'orange'
      })
    </div>
  </div>

</div>