<div class="blogItem">
  <img class="blogItem__preview" src="./assets/Products/product2.jpg" alt="img" loading="lazy" width="254" height="258" />
  <div class="blogItem__tags"> <span>wax</span><span>wax</span><span>wax</span><span>wax</span> </div>
  <h1 class="blogItem__title">Where did the Beeswax & Propolis Magic Salve Come From and Why is it so special?</h1>
  <p class="blogItem__description">
    Beeswax and Propolis Magic Salve is brought to us from an ancient recipe that came from Russian Monastery. The combination of it's...
  </p>
  <a class="blogItem__link" href="#">Read More></a>
</div>