<div class="FAQcontainer">
  <img class="FAQcontainer__img" src="./assets/hero/hero5.png" alt="hero" loading="lazy" />
  <div class="FAQcontainer__list">

    @@include('./FAQitem.html', {
      title: '1. What is your shipping standard?',
      description: 'Beeswax & Propolis Magic Salve speeds up the healing process for burns 3x faster. The egg yolk oil that is in the salve is scientifically proven to heal even 3rd degree burns.',
      id: 'FAQ-1'
    })
    @@include('./FAQitem.html', {
      title: '2. Do your products contain any chemicals like parabens or preservatives?',
      description: 'Beeswax & Propolis Magic Salve speeds up the healing process for burns 3x faster. The egg yolk oil that is in the salve is scientifically proven to heal even 3rd degree burns.',
      id: 'FAQ-2'
    })
    @@include('./FAQitem.html', {
      title: '3. Are your products safe for pregnant and babies?',
      description: 'Beeswax & Propolis Magic Salve speeds up the healing process for burns 3x faster. The egg yolk oil that is in the salve is scientifically proven to heal even 3rd degree burns.',
      id: 'FAQ-3'
    })
    @@include('./FAQitem.html', {
      title: '4. Which product would you recommend for soothing seriously chapped, extreme weathered, & dry skin?',
      description: 'Beeswax & Propolis Magic Salve speeds up the healing process for burns 3x faster. The egg yolk oil that is in the salve is scientifically proven to heal even 3rd degree burns.',
      id: 'FAQ-4'
    })
    @@include('./FAQitem.html', {
      title: '5. Which product would you recommend for inflammation?',
      description: 'Beeswax & Propolis Magic Salve speeds up the healing process for burns 3x faster. The egg yolk oil that is in the salve is scientifically proven to heal even 3rd degree burns.',
      id: 'FAQ-5'
    })
    @@include('./FAQitem.html', {
      title: '6. Do you have anything to heal burns?',
      description: 'Beeswax & Propolis Magic Salve speeds up the healing process for burns 3x faster. The egg yolk oil that is in the salve is scientifically proven to heal even 3rd degree burns.',
      id: 'FAQ-6'
    })

  </div>
</div>