<footer class="footer">

  <div class="footer__top">
    <div class="footer__list">
      <h5 class="footer__list-title">Connect</h5>
      <span class="footer__list-item"> @@include('./Link.html', { url: '#', text: 'Contact Us' }) </span>
      <span class="footer__list-item"> @@include('./Link.html', { url: '#', text: 'FAQs' }) </span>
      <span class="footer__list-item"> @@include('./Link.html', { url: '#', text: 'Shipping' }) </span>
    </div>
    <div class="footer__list">
      <h5 class="footer__list-title">Terms & Policies</h5>
      <span class="footer__list-item"> @@include('./Link.html', { url: '#', text: 'Refunds & Shipping Policy' }) </span>
      <span class="footer__list-item"> @@include('./Link.html', { url: '#', text: 'Privacy Policy' }) </span>
      <span class="footer__list-item"> @@include('./Link.html', { url: '#', text: 'Terms & Conditions' }) </span>
    </div>
    <div class="footer__list">
      <h5 class="footer__list-title"></h5>
      <span class="footer__list-item"> @@include('./Link.html', { url: '#', text: 'Blog' }) </span>
      <span class="footer__list-item"> @@include('./Link.html', { url: '#', text: 'Sign Up & Get 15% OFF Your First Purchase' }) </span>
      <span class="footer__list-item footer__list-item--socials">
        <a href="#" target="_blank"><img src="./assets/socials/instagram.svg" alt="instagram" loading="lazzy" /></a>
        <a href="#" target="_blank"><img src="./assets/socials/pin.svg" alt="pin" loading="lazzy" /></a>
        <a href="#" target="_blank"><img src="./assets/socials/tiktok.svg" alt="tiktok" loading="lazzy" /></a>
      </span>
    </div>
  </div>
  <div class="footer__down">
    <div class="footer__list">
      <h5 class="footer__list-title">About the shop</h5>
      <span class="footer__list-item"> <span class="link">My Magic Healer Store we believe that healthy skin is<br/>the most beautiful skin.</span> </span>
      <div class="footer__copyright">© My Magic Healer Store</div>
    </div>
    <div class="footer__list footer__list--cards">
      <img src="./assets/FooterCards/amazon.svg" alt="amazon" loading="lazzy" />
      <img src="./assets/FooterCards/paypal.svg" alt="paypal" loading="lazzy" />
      <img src="./assets/FooterCards/stripe.png" alt="stripe" loading="lazzy" />
    </div>
  </div>

</footer>