<div class="header__navMobile">

  <div class="header__navMobile-content">
    <div class="navMobile__header">
      <button class="closeNavMenu"><img class="navMobile__header-close" src="./assets/close.svg" alt="close" loading="lazy" /></button>
    </div>

    <h1 class="navMobile__title">My Magic Healer</h1>
    <div class="navMobile__items">
      <div class="navMobile__item">
        <a href="#">shop</a>
      </div>
      <div class="navMobile__item">
        <button class="showList" data-ul="teas">teas <img src="./assets/dropDown--white.svg" alt="dropDown" loading="lazy" /></button>
        <ul class="teas navMobile__item-ul">
          <li class="navMobile__item-li"> <a href="#">about</a> </li>
          <li class="navMobile__item-li"> <a href="#">shop</a> </li>
        </ul>
      </div>
      <div class="navMobile__item">
        <button class="showList" data-ul="shilajit">shilajit <img src="./assets/dropDown--white.svg" alt="dropDown" loading="lazy" /></button>
        <ul class="shilajit navMobile__item-ul">
          <li class="navMobile__item-li"> <a href="#">about</a> </li>
          <li class="navMobile__item-li"> <a href="#">shop</a> </li>
        </ul>
      </div>
      <div class="navMobile__item">
        <a href="#">about</a>
      </div>
      <div class="navMobile__item">
        <a href="#">reviews</a>
      </div>
      <div class="navMobile__item">
        <a href="#">faq</a>
      </div>
    </div>

    <div class="navMobile__footer">
      <div class="navMobile__footer-socials">
        <a href="#"> <img src="./assets/socials/footer/instagram.svg" alt="inst" loading="lazy" /> </a>
        <a href="#"> <img src="./assets/socials/footer/pin.svg" alt="pin" loading="lazy" /> </a>
        <a href="#"> <img src="./assets/socials/footer/tiktok.svg" alt="tiktok" loading="lazy" /> </a>
      </div>
      <div class="navMobile__footer-text">© My Magic Healer Store</div>
    </div>

    <div class="closeNavMenu header__navMobile-trigger"></div>
  </div>
  
</div>