<div class="header__main">
  <div class="header__main-empty"></div>
  <a href="index.html"><img class="header__main-logo" src="./assets/logo.svg" alt="logo" loading="lazy" /></a>
  <button class="header__main-burger openNavMenu"><img src="./assets/burger.svg" alt="menu" /></button>
  <div class="header__main-userPanel">
    <div class="header__main-userPanel__item header__main-userPanel__item--locate">US/CA <img src="./assets/locate.svg" alt="locate" loading="lazy" /></div>
    <div class="header__main-userPanel__item">
      <img src="./assets/user.svg" alt="user" loading="lazy" />
    </div>
    <button class="openCart header__main-userPanel__item">
      <img src="./assets/cart.svg" alt="cart" loading="lazy" />
      <span class='header__main-cartCount'>2</span>
    </button>
  </div>
</div>