<nav class="header__nav">

  <div class="header__nav-item">
    <a href="shop.html"><div class="nav__item-title">shop</div></a>
  </div>

  <div class="header__nav-item">
    <button><div class="nav__item-title">teas <img src="./assets/dropDown.svg" alt="dropDown" loading="lazy" /></div></button>
    <ul class="nav__item-dropDawn">
      <li href="#"><a href="#">link</a></li>
      <li href="#"><a href="#">link</a></li>
    </ul>
  </div>

  <div class="header__nav-item">
    <button><div class="nav__item-title">shilajit <img src="./assets/dropDown.svg" alt="dropDown" loading="lazy" /></div></button>
    <ul class="nav__item-dropDawn">
      <li href="#"><a href="#">Link1</a></li>
      <li href="#"><a href="#">about</a></li>
      <li href="#"><a href="#">more</a></li>
      <li href="#"><a href="#">big link</a></li>
    </ul>
  </div>

  <div class="header__nav-item">
    <a href="#"><div class="nav__item-title">about</div></a>
  </div>

  <div class="header__nav-item">
    <a href="#"><div class="nav__item-title">reviews</div></a>
  </div>

  <div class="header__nav-item">
    <a href="faq.html"><div class="nav__item-title">faq</div></a>
  </div>

</nav>