<div class="about">
  <div class="about__hero"><img src="./assets/hero/hero4.png" alt="hero4" loading="lazy" /></div>
  <div class="about__info">
    @@include('./SectionTitle.html', {
      prifix: '',
      sufix: 'How to use it',
      center: false
    })
    @@include('./DescriptionBlock.html', {
      text: 'Shilajit is available in liquid and powder forms. Always<br/>administer supplements according to instructions. If you buy the<br/>supplement in liquid form, dissolve a portion the size of a grain<br/>of rice or a pea size in liquid and drink one to three times a day<br/>(depending on instructions). Or you can take shilajit powder twice a day with milk.<br/><br/>The recommended dose of shilajit is 300 to 500 mg per<br/>dayTrusted Source. Speak with your doctor before taking shilajit.'
    })
    <br><br>
    <div class="about__info-btn">
      @@include('./Button.html', {
        text: '&nbsp;&nbsp;&nbsp;buy now&nbsp;&nbsp;&nbsp;',
        type: 'orange'
      })
    </div>
  </div>
</div>