<div class="promise">
  <div class="promise__hero"><img src="./assets/hero/hero2.png" alt="hero2" loading="lazy" /></div>
  <div class="promise__info">
    @@include('./SectionTitle.html', {
      prifix: 'OUR PROMISE',
      sufix: 'My Magic Healer  Code',
      center: false
    })
    @@include('./DescriptionBlock.html', {
      text: '<img style="shape-outside: url(./assets/hero/hero2.png);" class="promise__hero--mobile" src="./assets/hero/hero2.png" alt="hero2" loading="lazy" /> Mother nature has given us all the means to have a happy life here<br/>on Earth. Our mission is to strengthen the connection to wholesome<br/>healing that She provides for our planet. MyMagicHealer offers the<br/>highest quality, traditional remedies for your body and mind. We<br/>strongly believe that only in a healthy body, we can unleash the<br/>immense potential and reach the ultimate wholeness<br/>within ourselves.'
    })
  </div>
</div>