<div class="reviews">
  @@include('./SectionTitle.html', {
    prifix: 'our',
    sufix: 'Reviews',
    center: true
  })

  <!-- pc -->
  <div class="reviews__cards reviews__cards--pc">

    <div class="reviews__cards-card">
      <h5 class="reviews__cards-card__title">Chris AB</h5>
      @@include('./DescriptionBlock.html', {
        text: 'Amaizingly quick shipping! I was floored with how quickly it got to me. Also, this product WORKS. I have severe chronic pain and this has offered me some relief. I’ll definitely be getting it again.'
      })
    </div>
    <div class="reviews__cards-card">
      <h5 class="reviews__cards-card__title">Joyce</h5>
      @@include('./DescriptionBlock.html', {
        text: 'The eczema salve is great! I don’t like using prescription stuff on my face so this is a great alternative. It’s soothing and keeps my skin moisturized all day. I’ve recommended this to my sister, and she’s already placed an order. We love supporting small businesses.'
      })
    </div>
    <div class="reviews__cards-card">
      <h5 class="reviews__cards-card__title">Ebonee Elizabeth</h5>
      @@include('./DescriptionBlock.html', {
        text: 'Love this product so much! It came quickly. The smell isn’t overpowering and it helped with my shoulder pain almost immediately. Thank you!'
      })
    </div>

  </div>
<!-- mobile -->
  <div class="reviews__cards reviews__cards--mobile">

    <div class="owl-carousel owl-carousel-reviews owl-theme">

      <div class="item reviews__cards-card">
        <h5 class="reviews__cards-card__title">Ebonee Elizabeth</h5>
        @@include('./DescriptionBlock.html', {
          text: 'Love this product so much! It came quickly. The smell isn’t overpowering and it helped with my shoulder pain almost immediately. Thank you!'
        })
      </div>
      <div class="item reviews__cards-card">
        <h5 class="reviews__cards-card__title">Ebonee Elizabeth</h5>
        @@include('./DescriptionBlock.html', {
          text: 'Love this product so much! It came quickly. The smell isn’t overpowering and it helped with my shoulder pain almost immediately. Thank you!'
        })
      </div>
      <div class="item reviews__cards-card">
        <h5 class="reviews__cards-card__title">Ebonee Elizabeth</h5>
        @@include('./DescriptionBlock.html', {
          text: 'Love this product so much! It came quickly. The smell isn’t overpowering and it helped with my shoulder pain almost immediately. Thank you!'
        })
      </div>
      <div class="item reviews__cards-card">
        <h5 class="reviews__cards-card__title">Ebonee Elizabeth</h5>
        @@include('./DescriptionBlock.html', {
          text: 'Love this product so much! It came quickly. The smell isn’t overpowering and it helped with my shoulder pain almost immediately. Thank you!'
        })
      </div>
      
    </div>

  </div>
  
</div>