<div class="productsList">
  @@include('./ShopTitle.html', {
    title: 'teas'
  })
  <div class="productsList__list">
    @@include('./ProductCard.html', {
      img: './assets/Products/product1.jpg',
      title: 'Immunity Boost',
      reviews: 4,
      price: 12
    })
    @@include('./ProductCard.html', {
      img: './assets/Products/product2.jpg',
      title: 'Immunity Boost',
      reviews: 4,
      price: 12
    })
    @@include('./ProductCard.html', {
      img: './assets/Products/product3.jpg',
      title: 'Immunity Boost',
      reviews: 4,
      price: 12
    })
    @@include('./ProductCard.html', {
      img: './assets/Products/product4.jpg',
      title: 'Immunity Boost',
      reviews: 4,
      price: 12
    })
    @@include('./ProductCard.html', {
      img: './assets/Products/product5.jpg',
      title: 'Immunity Boost',
      reviews: 4,
      price: 12
    })
    @@include('./ProductCard.html', {
      img: './assets/Products/product1.jpg',
      title: 'Immunity Boost',
      reviews: 4,
      price: 12
    })
    @@include('./ProductCard.html', {
      img: './assets/Products/product2.jpg',
      title: 'Immunity Boost',
      reviews: 4,
      price: 12
    })
    @@include('./ProductCard.html', {
      img: './assets/Products/product3.jpg',
      title: 'Immunity Boost',
      reviews: 4,
      price: 12
    })
    @@include('./ProductCard.html', {
      img: './assets/Products/product4.jpg',
      title: 'Immunity Boost',
      reviews: 4,
      price: 12
    })
    @@include('./ProductCard.html', {
      img: './assets/Products/product5.jpg',
      title: 'Immunity Boost',
      reviews: 4,
      price: 12
    })
  </div>
</div>