<div class="shopCards">

  <a href="#">
    <div class="shopCards__card" style="background: #99A287">
      <h1 class="shopCards__card-title">Organic Teas</h1>
      <h3 class="shopCards__card-subtitle">Active Ingredients |<br/>Discover Now</h3>
      <div class="shopCards__card-img" style="background-image: url(./assets/ShopCards/img1.png);"></div>
    </div>
  </a>
  <a href="#">
    <div class="shopCards__card" style="background: #D6C197">
      <h1 class="shopCards__card-title">Potent Herbs</h1>
      <h3 class="shopCards__card-subtitle">Active Ingredients |<br/>Discover Now</h3>
      <div class="shopCards__card-img" style="background-image: url(./assets/ShopCards/img2.png);"></div>
    </div>
  </a>
  <a href="#">
    <div class="shopCards__card" style="background: #B8A98C">
      <h1 class="shopCards__card-title">shilajit</h1>
      <h3 class="shopCards__card-subtitle">Active Ingredients |<br/>Discover Now</h3>
      <div class="shopCards__card-img" style="background-image: url(./assets/ShopCards/img3.png);"></div>
    </div>
  </a>
  <a href="#">
    <div class="shopCards__card" style="background: #4F5544">
      <h1 class="shopCards__card-title">Healing Salves</h1>
      <h3 class="shopCards__card-subtitle">Active Ingredients |<br/>Discover Now</h3>
      <div class="shopCards__card-img" style="background-image: url(./assets/ShopCards/img4.png);"></div>
    </div>
  </a>

</div>