<!-- pc -->
<div class="tiles tiles--pc">

  <div class="tiles__items owl-carousel owl-carousel-tiles owl-theme">

    <div class="item tiles__item" style="background: #99A287">
      <img class="tiles__item-img" src="./assets/tiles/tiles1.png" alt="tiles1" loading="lazzy" />
      <h1 class="tiles__item-title">Potent Herbs</h1>

      <p class="tiles__item-description">Active Ingredients |<br/>Discover Now</p>
    </div>

    <div class="item tiles__item" style="background: #D6C197">
      <img class="tiles__item-img" src="./assets/tiles/tiles2.png" alt="tiles2" loading="lazzy" />
      <h1 class="tiles__item-title">Potent Herbs</h1>

      <p class="tiles__item-description">Active Ingredients |<br/>Discover Now</p>
    </div>

    <div class="item tiles__item" style="background: #4F5544">
      <img class="tiles__item-img" src="./assets/tiles/tiles3.png" alt="tiles3" loading="lazzy" />
      <h1 class="tiles__item-title">Healing Salves</h1>

      <p class="tiles__item-description">Active Ingredients |<br/>Discover Now</p>
    </div>

    <div class="item tiles__item" style="background: #B8A98C">
      <img class="tiles__item-img" src="./assets/tiles/tiles4.png" alt="tiles4" loading="lazzy" />
      <h1 class="tiles__item-title">shilajit</h1>

      <p class="tiles__item-description">Active Ingredients |<br/>Discover Now</p>
    </div>

  </div>

</div>
<!-- mobile -->
<div class="tiles tiles--mobile">

  <div class="item tiles__item" style="background: #99A287">
    <img class="tiles__item-img" src="./assets/tiles/tiles1.png" alt="tiles3" loading="lazzy" />
    <div class="tiles__item-mobileContent">
      <h1 class="tiles__item-title">Organic Teas</h1>

      <p class="tiles__item-description">Active Ingredients |<br/>Discover Now</p>
    </div>
  </div>
  <div class="item tiles__item" style="background: #D6C197">
    <img class="tiles__item-img" src="./assets/tiles/tiles2.png" alt="tiles3" loading="lazzy" />
    <div class="tiles__item-mobileContent">
      <h1 class="tiles__item-title">Potent Herbs</h1>

      <p class="tiles__item-description">Active Ingredients |<br/>Discover Now</p>
    </div>
  </div>
  <div class="item tiles__item" style="background: #4F5544">
    <img class="tiles__item-img" src="./assets/tiles/tiles3.png" alt="tiles3" loading="lazzy" />
    <div class="tiles__item-mobileContent">
      <h1 class="tiles__item-title">Healing Salves</h1>

      <p class="tiles__item-description">Active Ingredients |<br/>Discover Now</p>
    </div>
  </div>
  <div class="item tiles__item" style="background: #D6C197">
    <img class="tiles__item-img" src="./assets/tiles/tiles4.png" alt="tiles3" loading="lazzy" />
    <div class="tiles__item-mobileContent">
      <h1 class="tiles__item-title">shilajit</h1>

      <p class="tiles__item-description">Active Ingredients |<br/>Discover Now</p>
    </div>
  </div>

</div>