.footer {
  padding: 7.1428rem 10rem;
  position: relative;
}

@media (max-width: 768px) {
  .footer {
    padding: 7.1428rem 2.8571rem;
  }
}

@media (max-width: 425px) {
  .footer {
    padding: 70px 20px;
  }
}

.footer__top, .footer__down {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .footer__top {
    flex-direction: column;
  }
}

.footer__down {
  margin-top: 13rem;
}

@media (max-width: 425px) {
  .footer__down {
    margin-top: 37px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 425px) {
  .footer__list {
    margin-top: 37px;
  }
}

.footer__list--cards {
  flex-direction: row !important;
  grid-gap: 0.5rem;
  margin-right: 13.3571rem;
}

@media (max-width: 768px) {
  .footer__list--cards {
    margin-right: 11.0571rem;
  }
}

@media (max-width: 425px) {
  .footer__list--cards {
    margin: 0;
    position: absolute;
    right: 25px;
    top: 23%;
  }
  .footer__list--cards img {
    width: 25px;
  }
}

.footer__list-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9285rem;
  letter-spacing: 0.1857rem;
  text-transform: uppercase;
  color: #4F5544;
  min-height: 2.8571rem;
}

@media (max-width: 425px) {
  .footer__list-title {
    font-size: 11px;
    line-height: 16px;
  }
}

.footer__list-item {
  margin-bottom: 0.8571rem;
}

.footer__list-item--socials {
  display: flex;
  grid-gap: 1.5rem;
}

@media (max-width: 425px) {
  .footer__list-item--socials {
    position: absolute;
    right: 25px;
    top: 18.5%;
  }
}

.footer__copyright {
  margin-top: 3.2857rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8571rem;
  line-height: 1.4285rem;
  letter-spacing: 0.1714rem;
  text-transform: uppercase;
  color: #4F5544;
}
