.header__message {
  height: 2.8571rem;
  background: #99A287;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 425px) {
  .header__message {
    height: 15px;
  }
}

.header__message-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8571rem;
  line-height: 1rem;
  letter-spacing: 0.3142rem;
  text-transform: uppercase;
  color: #FFFCFC;
}

@media (max-width: 425px) {
  .header__message-text {
    font-size: 5px;
    line-height: 6px;
  }
}
