.slider {
  height: 36.8571rem;
  background: radial-gradient(100.26% 194.34% at 107.65% 0%, #D6C197 0%, #6A715C 100%);
  margin: 0 2.8571rem 7.1428rem 2.8571rem;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .slider {
    height: 39.4285rem;
  }
}

@media (max-width: 425px) {
  .slider {
    height: 100%;
    overflow: unset;
  }
}

@media (max-width: 425px) {
  .slider .item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.slider.owl-carousel {
  width: unset !important;
}

.slider .owl-stage-outer {
  height: 100%;
}

.slider .owl-stage-outer .owl-stage {
  height: 100%;
}

.slider .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}

.slider .owl-stage-outer .owl-stage .owl-item .item {
  height: 100%;
}

.slider .owl-dots {
  position: absolute;
  bottom: 3.2142rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 425px) {
  .slider .owl-dots {
    bottom: -30px;
  }
}

.slider .owl-dots button {
  width: 0.7142rem;
  height: 0.7142rem;
  border-radius: 100%;
  background: #D9D9D9 !important;
  margin: 0 0.4285rem;
}

.slider .owl-dots button.active {
  background: #4F5544 !important;
}

.slider__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6.7142rem;
}

@media (max-width: 768px) {
  .slider__content {
    padding-left: 2.5rem;
  }
}

@media (max-width: 425px) {
  .slider__content {
    padding-left: unset;
  }
}

.slider__content-title {
  margin-bottom: 1.4285rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1428rem;
  line-height: 1.3571rem;
  letter-spacing: 0.3142rem;
  text-transform: uppercase;
  color: #FFFCFC;
}

@media (max-width: 425px) {
  .slider__content-title {
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 2px;
    text-align: center;
  }
}

.slider__content-description {
  font-family: 'EB Garamond', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 4.7857rem;
  line-height: 3.5714rem;
  text-transform: capitalize;
  color: #FFFCFC;
  width: 60%;
  max-width: 51%;
}

@media (min-width: 1200px) {
  .slider__content-description {
    max-width: 39%;
  }
}

@media (max-width: 425px) {
  .slider__content-description {
    font-size: 32px;
    line-height: 27px;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}

.slider__content-btn {
  margin-top: 3.7142rem;
}

@media (max-width: 425px) {
  .slider__content-btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .slider__content-btn button {
    width: 80%;
  }
}

.slider__hero {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 768px) {
  .slider__hero {
    width: 28.4285rem;
  }
}

@media (max-width: 425px) {
  .slider__hero {
    position: relative;
    order: -1;
    width: 144px;
  }
}
