.shopCards {
  display: grid;
  grid-auto-rows: 24.1428rem;
  grid-auto-columns: 31.2142rem;
  justify-content: center;
  grid-template-areas: 'block block';
  grid-gap: 2.8571rem;
  margin-top: 7.1428rem;
}

@media (max-width: 425px) {
  .shopCards {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    grid-gap: 20px;
  }
}

.shopCards__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2.7142rem;
  position: relative;
  transition: .3s;
  height: 100%;
}

@media (max-width: 425px) {
  .shopCards__card {
    padding: 30px;
  }
}

.shopCards__card:hover {
  transform: scale(1.03);
}

.shopCards__card-title {
  margin-bottom: 1.4285rem;
  font-family: 'EB Garamond', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 3.4285rem;
  line-height: 1.5714rem;
  text-transform: capitalize;
  color: #FFFCFC;
  width: calc(100% - 120px);
}

@media (max-width: 425px) {
  .shopCards__card-title {
    font-size: 32px;
    line-height: 27px;
    width: fit-content;
  }
}

.shopCards__card-subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8571rem;
  line-height: 1rem;
  letter-spacing: 0.1714rem;
  text-transform: uppercase;
  white-space: pre-line;
  color: #FFFCFC;
}

@media (max-width: 425px) {
  .shopCards__card-subtitle {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2.4px;
  }
}

.shopCards__card-img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position-y: center;
  background-position-x: right;
  margin-right: 1.4285rem;
}

@media (max-width: 425px) {
  .shopCards__card-img {
    width: 80px;
    height: 80px;
    background-size: contain;
  }
}
